* {
    margin: 0;
    box-sizing: border-box;
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 21px;
}

header, .content, .buttons, .result, .links, .footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1.5em;
}

header, .content {
    flex-direction: column;
}

.copyright {
    font-size: 15px;
}

.footer-text {
    padding-top: .5em;
}

.links {
    padding-top: 85px;
    padding-bottom: 12px;
}

.result {
    border: 1px dashed #00ff7f;
    margin-right: 5em;
    margin-left: 5em;
}

#text {
    width: 100%;
} 

a {
    text-decoration: none;
    color: lightslategrey;
}

h1 {
    font-size: 52px;
}

button {
    border: 1px solid #00ff7f;
    border-radius: 5px;
    padding: 15px;
    background-color: #1b1b1b;
}

p {
    font-size: 32px;
    color: snow;
}

button:hover {
    cursor: pointer;
}

textarea, #rotation {
    padding: 15px;
    border-color: #bbbbbb;
}

textarea:focus, #rotation:focus {
    border-color: #7f00ff;
}

/* Hide the arrows of number input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
    margin: 0;
}
input[type=number] {
-moz-appearance: textfield;
}